body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#calculator {
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

input[type="button"] {
    background-color: burlywood;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 2px;
    padding: 10px 20px;
    width: 45%;
    border-radius: 5px;
}

input[type="text"] {
    background-color: #f2f2f2;
    border: none;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    width: 90%;
    border-radius: 5px;
}